.controlGrid{
    overflow: hidden;
}

.controlGridHeader{
    background-color: #f0f0f0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#c5c5c5));
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 22px;
    overflow: hidden;
    border-bottom: 1px solid #a0a0a0;
}
.controlGridHeader td {
    border-right: 1px solid #a0a0a0;
}

.controlGridBody{
    background-color: #FFF;
    position: absolute;
    top: 23px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

.controlGridBody table , .controlGridHeader table{
    display: inline-block;
    table-layout: fixed;
    border-collapse: collapse;
}

.controlGridBody tr, .controlGridHeader tr {
    height: 22px;
}

.controlGridBody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.controlGridBody span, .controlGridHeader span{
    display: inline-block;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
    line-height: 22px;
    padding-left: 2px;
}

.controlGridBody span {
    padding-left: 2px;
    padding-right: 1px;
}

td.filler, span.filler {
    padding-left: 0px;
    padding-right: 0px;
    border-right: 0px;
    border-left: 0px;
}

.controlGridBody tr.selected {
    background-color: #505050;
    color: #fff
}